---
import { Image } from "astro:assets";
import HeroImage from "../assets/hero-image.jpg";
import MainLayout from "../layouts/MainLayout.astro";

const age = Date.now() - Date.UTC(2005);
---

<MainLayout title="Home">
  <div class="flex flex-col gap-4">
    <h1 class="text-4xl">Hi & Welcome to my corner of the web!</h1>
    <Image
      src={HeroImage}
      class="grayscale"
      loading="eager"
      alt="Akbar Dzikri Formal"
    />
  </div>
  <article class="pt-4 flex flex-col gap-4">
    <h2 class="text-xl">
      Hi there! I'm Akbar Dzikri, a {Math.floor(age / 31557600000)}-year-old web
      developer based in <a href="https://maps.app.goo.gl/B2K7a7NJD22aeBTq6"
        >Cirebon, Indonesia.</a
      >
    </h2>
    <p>
      I'm a self-taught developer with 2 years of experience, starting in 10th
      grade and building my first website (Company Portfolio) during a Social
      Media Marketing internship in 12th grade.
      <ul class="list-disc">
        I specialize in web development with skills in:
        <li>
          Front-end development: HTML (semantic structures, responsive design),
          CSS (Bootstrap, Tailwind CSS - component styling, theming), JavaScript
          (Svelte, Vue.js)
        </li>
        <li>Back-end development: Node.js (Express, NestJS)</li>
        <li>Version control: Git & Github</li>
        <li>Design: Figma</li>
      </ul>
      Currently a freshman at STIKOM Poltek Cirebon, I'm always eager to learn and
      build challenging projects. Let's connect!
    </p>
    <a
      href="/contact"
      class="w-fit px-4 py-2 border rounded border-colors-accent hover:bg-colors-primary hover:text-colors-text-secondary"
      >Get in touch!</a
    >
  </article>
</MainLayout>
