---
import NavMobile from "./NavMobile.astro";
---

<div class="flex justify-between items-center">
  <div class="branding">
    <a href="/" class="text-colors-text text-2xl">Akbar Dzikri</a>
  </div>
  <ul class="hidden sm:flex sm:justify-evenly sm:gap-2">
    <li><a href="/">Home</a></li>
    <li><a href="#">Articles</a></li>
    <li><a href="#">Projects</a></li>
    <li><a href="#">About</a></li>
  </ul>
  <div class="relative sm:hidden">
    <NavMobile />
  </div>
</div>

<script></script>
