<div class="flex">
  <div class="branding">
    <span class="text-colors-text text-2xl">Akbar Dzikri</span>
  </div>
  <div class="nav-links"></div>
  <div class="socials hidden sm:flex"></div>
</div>

<script></script>
