---
import "../styles/main.css";

import Navbar from "../components/Navbar.astro";
---

<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Akbar Dzikri</title>
  </head>
  <body>
    <nav
      class="py-2 px-4 sticky top-0 z-50 border-b-2 border-colors-text border-dashed"
    >
      <Navbar />
    </nav>
    <main class="">
      <slot />
    </main>
  </body>
</html>
